body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

.contBtns {
    width: 150px;
    bottom: 5%;
}

.contBtns__btn {
    width: 70px;
    height: 70px;
}

.contBtns__btn:hover {
    box-shadow: 0 0 5px 5px #617467;
}

.navMod {
    background-color: white;
    height: 6vh;
}

.contBtn {
    width: 100%;
}

.nav-link {
    color: black;
}

/* main */

.mainMod {
    background-color: rgb(0, 0, 0);
    height: 60vh;
    border: none;
}

.sectionMod {
    height: 74vh;
}

.mainMod__h2 {
    font-size: 46pt;
    border: none;
}

.sectionMod__contCarrusel {
    width: 96%;
    justify-self: center;
}

.sectionMod__contImg {
    height: 54vh;
    background-color: black;
}

.mainMod__img1 {
    width: 100%;
}

.sectionMod__imgSlider {
    width: 94%;
    justify-self: center;
}

/* footer */
.footerMod {
    background-color: white;
}

.footerMod__ul {
    height: 100%;
    width: 80%;
    text-align: center;
}

@media (max-width: 991px) {
    .contBtn {
        width: 300px;
        position: absolute;
        right: 0;
    }

    .ulMod {
        position: absolute;
        background-color: white;
        top: 5.2vh;
        width: 100%;
        margin: 0;
        flex-direction: column;
        align-items: end;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        top: 5vh;
    }

    .nav-item:hover {
        background-color: rgba(0, 17, 255, 0.589);
    }

    .nav-link:hover and .nav-item:hover {
        color: white;
    }

    .mainMod__contMed {
        width: 100%;
        flex-direction: column;
    }

    .mainMod__h2 {
        width: 98%;
        font-size: 18pt;
    }

    .mainMod__img1 {
        width: 90vw;
        min-width: 300px;
    }

    .mainMod {
        height: 90vh;
    }

    .sectionMod {
        height: 70vh;
        object-fit: scale-down;
    }

    .sectionMod__contCarrusel {
        height: 90%;
    }

    .sectionMod {
        height: 110vh;
    }

    .sectionMod__rowMod {
        display: grid;
        grid-template-columns: 1fr;
        background-color: black;
        align-items: center;
        height: 100vh;
    }

    .sectionMod__contImg {
        height: 30vh;
        padding: 3%;
    }

    .sectionMod__imgSlider {
        width: 50%;
        min-width: 400px;
        object-fit: cover;
    }
}

@media (max-width: 400px) {
    .contBtn {
        position: relative;
        width: 50%;
    }

    .contUlMod {
        width: 100%;
        position: absolute;
        right: 0;
        top: .5vh;
    }

    .mainMod {
        height: 40vh;
    }

    .footerMod__ulMod {
        width: 100%;
        display: grid;
        grid-template: repeat(2,1fr)/repeat(2,1fr);
        align-items: center;
    }
    
    .sectionMod__rowMod {
        display: flex;
        flex-direction: column;
        background-color: black;
    }

    .sectionMod__contImg {
        height: auto;
        padding: 0;
    }

    .sectionMod__imgSlider {
        width: 375px;
        object-fit: contain;
    }

}