body {
    width: 100%;
    min-width: 330px;
}

.mainServicios {
    padding: 2%;
}

.mainServicios__a {
    width: 50%;
}

.mainServicios__row {
    height: 50vh;
}

.modSizeCardInf {
    width: 50%;
}

.mainServicios__cardInfo {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 18pt;
    font-weight: bold;
    width: 50%;
}

@media (max-width: 900px) {
    .mainServicios__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90vh;
    }

    .mainServicios__a {
        width: 96%;
        height: 120vh;
    }

    .mainMod__img1 {
        height: 100%;
    }

    .modHeightRow {
        height: 45vh;
    }
    
}

@media (max-width: 768px) {
    .mainServicios__container {
        width: 100%;
    }

    .mainServicios__cardInfo {
        width: 80%;
    }

    .mainServicios__a {
        height: 30vh;
    }

    .mainServicios__row {
        height: 80vh;
    }

    .modHeightRow {
        height: 40vh;
    }

    .modHeight {
        height: 100%;
    }
}

@media (max-width: 400px) {
    .mainServicios {
        padding: 0;
        background-color: aliceblue;
    }

    .modAasesoria {
        height: 100%;
        height: 30vh;
    }

    .mainServicios__row {
        height: 80vh;
    }

    .modHeightRow {
        height: 40vh;
    }

    
}